* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 80px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 99, 1) 0%,
    rgba(59, 113, 161, 1) 0%,
    rgba(0, 255, 217, 1) 100%
  );
}

.blur {
  opacity: 0.5;
}
.container {
  box-shadow: 2px 1px 16px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 1px 16px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 1px 16px -1px rgba(0, 0, 0, 0.75);
}
.search {
  height: 35px;
}
.search_input {
  width: 95%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.search_btn {
  width: 5%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left: none;
  cursor: pointer;
}
table {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
th {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
hr {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.setting {
  border: none;
  cursor: pointer;
}

/* LOGIN  */
.container_login {
  width: 25%;
  box-shadow: 2px 1px 16px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 1px 16px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 1px 16px -1px rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 10%;
  left: 38%;
}

.container_login_input input,
select {
  width: 90%;
  margin-left: 20px;
  border-width: 1px;
}
.container_login_input button {
  width: 5%;
  background-color: white;
  border: none;
  cursor: pointer;
}
.feature_btn button {
  border: none;
  cursor: pointer;
}
#type_search_list {
  display: flex;
  flex-direction: column;
}
.back_btn {
  width: 100%;
  height: 40px;
  position: relative;
}
#back {
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
}
.alert {
  font-size: 13px;
  padding: 0 !important;
  margin-bottom: 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
}
.alert p {
  margin-bottom: 0 !important;
}
input::placeholder {
  color: rgba(0, 0, 0, 0.586) !important;
}
input:focus::placeholder {
  color: transparent !important;
}
input:focus {
  border: 1px blue solid !important;
}
/* turn off arrow Moz */
/* input[type="number"] {
  -moz-appearance: textfield;
} */
/* for chrome,safari,edge,opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input {
  border-color: none !important;
}
.form-control {
  padding: 0;
  border: 1px solid #2b3c4c;
}
select.form-control:not([size]):not([multiple]) {
  height: auto;
}
.wrong_input {
  border: 1px solid red;
}
.duplicate_input {
  border: 1px solid red;
}
.find {
  padding-top: 10px;
  padding-left: 10px;
  text-align: left;
}
